extends layout

block content
	.container
	h1 Welcome
	div#alert-msg.alert.alert-info(role="alert")
	form(role='form-group')
		.form-group
			label(for='classes') Class IDs
			input#classes.form-control(type='text', placeholder='Class IDs seperated by comma', value="29494, 16402, 16401, 21753, 12442")
		button#track-btn.btn.btn-success(type='button') Track

	br
	button#stop-track-btn.btn.btn-danger(type='button') Stop Tracking

	br
	br
	button#get-status-btn.btn.btn-primary(type='button') Get Status

	br
	.output
