extends layout

block content
	.container
	h1 Welcome
	div#alert-msg.alert.alert-info(role="alert")
	form(role='form-group')
		.form-group
			label(for='classes') Class IDs
			input#classes.form-control(type='text', placeholder='Class IDs seperated by comma', value="29494, 16402, 16401, 21753, 12442")
		button#track-btn.btn.btn-success(type='button') Track

	button#stop-track-btn.btn.btn-danger.margin-top-medium(type='button') Stop Tracking

	br
	button#get-status-btn.btn.btn-primary.margin-top-medium(type='button') Get Status
	
	table#output.table.table-striped.table-bordered.table-hover.table-condensed.margin-top-medium
		thead
			tr
				td #
				td Name
				td Class#
				td Available seats
				td Total seats
				td Status
		tbody
